---
apiVersion: v1
kind: Service
metadata:
  name: {{ app }}-mongodb-svc
spec:
  selector:
    app: {{ app }}-mongodb
  ports:
    - protocol: TCP
      port: {{ db_port }}
      targetPort: {{ db_port }}