---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ app }}-mongodb-pv
spec:
  capacity:
    storage: 3Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ storage_ip }}
    path: '{{ db_path }}'